@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;400;700&family=Orbitron:wght@400;700&display=swap');
/* Genral */

h1 {
  font-family: "Orbitron", sans-serif;
  font-weight: 400;
  color: #A239CA;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
  background-color: #E7DFDD;
}

nav {
  background-color: #0E0B16;
}

footer {
  background-color: #0E0B16;
  font-family: "Orbitron", sans-serif;
  font-weight: 100;
  height: 200px;
  color: white;
  /* position: relative; */
}


/* Genral     END*/

/* Genral nav bar */

#nav-title{
  margin: 5px;
  margin-top: 24px;
  font-size: 3.5em;
  color: white;
  transition: 0.5s ease-in-out;
}

#nav-title:hover{
  color: #4717F6;
}

#nav-title-2{
  color: #4717F6;
  transition: 0.5s ease-in-out;
}

#nav-title-2:hover{
  color: white;
}

.title-link{
  font-family: "Orbitron", sans-serif;
}

.title-link:hover{
  color: #0E0B16;
}

.container-fluid{
  padding: 0px;
}

.nav-row{
  flex-direction: column;
  align-items: stretch;
}

.nav-bar{
  height: 125px;
}

.logo{
  width: 120px;
  border-radius: 50%;
  transition: all 3s ease-in-out 0s;
  cursor: pointer;
}

.logo:hover{
    cursor: default;
    transform: rotate(360deg);
    transition: all 3s ease-in-out 0s;
    cursor: pointer;
}
/* How to rotate an image with hover */
/* https://stackoverflow.com/questions/23695090/spin-or-rotate-an-image-on-hover*/

.nav-link{
  /* background-color: #A239CA; */
  font-family: "Noto Sans TC", sans-serif;
  color: white;
  /* width: 125px; */
  height: 50px;
  padding: 10px;
  margin: 5px;
  margin-top: 35px;
  justify-content: center;
  /* border: solid 1px white; */
  align-content: center;
  box-shadow: 5px 5px 10px #A239CA;
  /* Add white background as the hover */
}

.nav-link:hover{
  background-color: #A239CA;
  color: #0E0B16;
  box-shadow: 0 0 5px white;
}

.nav-item{
  width: auto;
}

.row{
  margin-right: 0px;
  margin-left: 0px;
}

/* Genral nav bar      END*/

/* Laptop nav bar     */

.nav-bar-laptop{
  height: 125px;
}

/* Laptop nav bar      END*/

/* Tablet nav bar */

#nav-title-tablet{
  margin: 5px;
  margin-top: 20px;
  font-size: 2em;
  color: white;
  transition: 0.5s ease-in-out;
}

#nav-title-tablet:hover{
  color: #4717F6;
}

#nav-title-tablet-2{
  color: #4717F6;
  transition: 0.5s ease-in-out;
}

#nav-title-tablet-2:hover{
  color: white;
}

#nav-contact-tablet{
  margin-top: 28px;
  width: 95px;
  padding: 0px;
}

.nav-tablet{
  max-width: 768px;
  margin: 0px;
}

.logo-tablet{
  width: 80px;
  border-radius: 50%;
}

.nav-link-tablet{
  width: 40px;
  height: 50px;
  padding: 10px;
  margin: 3px;
  align-content: center;
  font-size: 0.75em;
  color: white;
  box-shadow: 5px 5px 10px #A239CA;
}

.nav-link-tablet:hover{
  background-color: #A239CA;
  color: #0E0B16;
  box-shadow: 0 0 5px white;
}

.nav-item-tablet{
  margin-top: 28px;
}

.nav-bar-tablet{
  height: 90px;
}

/* Tablet nav bar     END */

/* Mobile nav bar */

#nav-center-mobile{
  justify-content: space-evenly;
}

#nav-title-mobile{
  margin: 5px;
  margin-top: 10px;
  font-size: 2em;
  color: white;
  transition: 0.5s ease-in-out;
}

#nav-title-mobile:hover{
  color: #4717F6;
}

#nav-title-mobile-2{
  color: #4717F6;
  transition: 0.5s ease-in-out;
}

#nav-title-mobile-2:hover{
  color: white;
}

.nav-border-mobile{
  height: 50px;
  margin-bottom: 10px;
}

.logo-mobile{
  width: 60px;
  border-radius: 50%;
}

.nav-link-mobile{
  width: 40px;
  height: 50px;
  padding: 8px;
  margin: 2.5px;
  font-size: 0.75em;
  color: white;
  box-shadow: 5px 5px 10px #A239CA;
  align-items: baseline;
}

.nav-link-mobile:hover{
  background-color: #A239CA;
  color: #0E0B16;
  box-shadow: 0 0 5px white;
}

.nav-item-mobile{
  margin-top: 15px;
}

/* Mobile nav bar     END */

/* Small mobile nav bar  */

#nav-center-s-mobile{
  justify-content: space-evenly;
}

.nav-link-s-mobile{
  width: 40px;
  height: 50px;
  padding: 8px;
  margin: 2.5px;
  font-size: 0.65em;
  color: white;
  box-shadow: 5px 5px 10px #A239CA;
}

.nav-link-s-mobile:hover{
  background-color: #A239CA;
  color: #0E0B16;
  box-shadow: 0 0 5px white;
}

/* Small mobile nav bar     END */

/* Slideshow */



/* Slideshow     END */

/* Desktop home page custom PC */

#build-title{
  display: flex;
  justify-content: center;
  font-family: "Orbitron", sans-serif;
}

.build-here{
  /* background-color: lightgrey; */
  border: black 1px solid;
  color: white;
  padding: 25px;
  margin: 10px;
  background-color: #0E0B16;
  box-shadow: 5px 5px 10px #A239CA;
  text-align: center;
}

.hydra-btn{
  background-color: #0E0B16;
  color: white;
  box-shadow: 0 0 5px #A239CA;
  padding: 10px;
  margin: 5px;
}

.hydra-btn:hover{
  background-color: #A239CA;
  color: #0E0B16;
  box-shadow: 0 0 5px white;
}

/* Desktop home page custom PC     END */

/* Pc recomadations */

.top-pc{
  margin: 10px;

}

.pc-card{
  background-color: #0E0B16;
  color: white;
  border: solid 3px black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
  margin: 5px;
  box-shadow: 5px 5px 10px #A239CA;
  /* Come back to shadowsx */
}

.top-pcs-desktop{
  max-height: 400px;
  max-width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.top-pcs-laptop{
  max-height: 400px;
  max-width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.top-pcs-tablet{
  max-height: 350px;
  max-width: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.top-pcs-mobile{
  max-height: 250px;
  max-width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.top-pcs-s-mobile{
  max-height: 200px;
  max-width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}



/* Pc recomadations      END*/

/* Build PC tracker */

#case-card{
  position: relative;
}

#build-title{
  font-family: "Orbitron", sans-serif;
  font-weight: 400;
}

.custom-sidebar{
  height: 100%;
  width: 20%;
  position: fixed;
  top: -20;
  left: 0;
  padding-top: 40px;
  padding: 5px;
  background: #E6E6E6;
  border: solid 3px black;
}


.spec-tracker{
  border: solid 1px black;
  background-color: #0E0B16;
  height: 500px;
  width: 300px;
  padding: 5px;
  font-size: 12px;
  color: white;
}

.price-tracker{
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  width: 300px;
  border: solid 1px black;
  background-color: #0E0B16;
  color: white;
}

.btn-collapse{
  cursor: pointer;
  transition: 1s ease-in-out;
  border: solid 1px black;
  padding: 5px;
  background-color: #0E0B16;
  color: white;
  box-shadow: 0 0 10px #A239CA;
}

.btn-collapse:hover{
  background-color: #A239CA;
  color: #0E0B16;
  box-shadow: 0 0 10px #0E0B16;
}

.custom-sidebar h4{
  font-family: "Orbitron", sans-serif;
}

.custom-form{
  /* margin: 3px; */
}

/* Build PC tracker    END */

/* PC part picker  */

#totalCost{
  display: flex;
  justify-content: center;
}

.build-pc{
  width: 80%;
  margin-right: 0px;

}

.card-body{
  background-color: #0E0B16;

}

.spec-list{
/* For the div that surronds each part section */
}

.spec-name{
  color: white;
}

.spec{
  /* FOR the radio buttons for each part */
  position: relative;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
  margin: 5px;

}

.spec-cost{
  color: white;
  font-family: "Orbitron", sans-serif;
}

.pc-part{
  background-color: #0E0B16;
  border: black 1px solid;
  margin: 10px;
  padding: 5px;
  width: 350px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  box-shadow: 0 0 5px #A239CA;
}

.pc-spec-img{
   max-width: 300px;
   max-height: 300px;
}

/* PC part picker    END */

/* Contact Us  */

#contact-submit{
  padding: 10px;
}

.contact-box{
  border: solid 1px black;
  padding: 50px;
  margin: 5px;
  background-color: #0E0B16;
  color: white;
}

.contact-box-s-mobile{
  padding: 30px;
}

.contact-form{
  padding: 5px;
  margin: 5px;
  background-color: #CCC5C4;
}

.contact-hydra{
  padding: 3px;
  font-family: "Orbitron", sans-serif;
  font-weight: 100;
}

/* Contact Us    END */

/* Desktop checkout */

#product-details{
  font-family: "Orbitron", sans-serif;
  font-weight: 100;
  color: #A239CA;
}

.checkout-form{
  display: flex;
  justify-content: center;
  border: black solid 1px;
  padding: 25px;
  margin: 5px;
  background-color: #0E0B16;
  color: white;

}

.checkout-form input{
  width: 100%;
  clear: both;
}

.checkout-product{
  margin: 5px;
  border: black solid 1px;
  padding: 50px;
  background-color: #0E0B16;
  color: white;
  text-align: center;
}

.billing-form{
  margin: 3px;
  background-color: #CCC5C4;
}

.product{
  border: 1px solid white;
  text-align: center;
  /* Remove for final version */
}

.checkout-total{
  display: flex;
  justify-content: flex-end;
  border: 1px solid black;
}

/* Desktop checkout   END */


/* Desktop footer */

.footer-col-desktop{
  margin-top: 30px;
}

.footer-icon{
  padding: 10px;
  font-size: 2.5em;
  color: #4717F6;
}

.footer-icon:hover{
  color: #A239CA;
}

/* Desktop footer       END */

/* Tablet footer */

.footer-col-tablet{
  margin-top: 30px;
}

.footer-icon-tablet{
  padding: 10px;
  font-size: 2em;
  color: #4717F6;
}

.footer-icon-tablet:hover{
  color: #A239CA;
}

/* Tablet footer      END */

/* Mobile footer */

.footer-col-mobile{
  margin-top: 50px;
}

.footer-icon-mobile{
  padding: 3px;
  font-size: 1.75em;
  color: #4717F6;
}

.footer-icon-mobile:hover{
  color: #A239CA;
}

.footer-title-mobile{
  font-size: 1.45em;
}

/* Mobile footer    END */

/* Small mobile footer */

.footer-col-s-mobile{
  margin-top: 15px;
  text-align: center;
}

.footer-icon-s-mobile{
  padding: 3px;
  font-size: 1.5em;
  color: #4717F6;
}

.footer-icon-s-mobile:hover{
  color: #A239CA;
}

.footer-title-s-mobile{
  font-size: 1.5em;
}

/* Small mobile footer    END */

/* Breakpoints */

/* Small devices (mobile) */

@media screen and (max-width: 424px){
  .nav-mobile{
    display: none;
  }
  .top-pcs-mobile{
    display: none;
  }
  .pc-card-mobile{
    display: none;
  }
  .checkout-form-mobile{
    display: none;
  }
  .checkout-product-mobile{
    display: none;
  }
  .contact-box-mobile{
    display: none;
  }
  .contact-form-mobile{
    display: none;
  }
  .footer-col-mobile{
    display: none;
  }
  /* Small mobile custom PC page breakpoints */
    .pc-spec-img{
      width: 150px;
    }
    .pc-part{
      padding: 100px;
      padding-top: 25px;
      padding-bottom: 25px;
    }
    h3{
      font-size: 1.5em;
    }
    .build-pc{
      width: 40%;
    }
    .custom-sidebar{
      width: 60%;
    }
  /* Small mobile custom PC page breakpoints  END */

}

@media screen and (min-width: 424px){
  .nav-s-moblile{
    display: none;
  }
  .top-pcs-s-mobile{
    display: none;
  }
  .pc-card-s-mobile{
    display: none;
  }
  .checkout-form-s-mobile{
    display: none;
  }
  .checkout-product-s-mobile{
    display: none;
  }
  .contact-box-s-mobile{
    display: none;
  }
  .footer-col-s-mobile{
    display: none;
  }


}

/* Small devices (mobile)     END*/

/* Medium devices (tablet) */

@media screen and (max-width: 767px){
  .nav-tablet{
    display: none;
  }
  .footer-tablet{
    display: none;
  }
  .top-pcs-tablet{
    display: none;
  }
  .pc-card-tablet{
    display: none;
  }
  .checkout-form-tablet{
    display:none;
  }
  .checkout-product-tablet{
    display:none;
  }
  .contact-box-tablet{
    display: none;
  }
  .footer-col-tablet{
    display: none;
  }
  .build-desktop{
    display:none;
  }
  /* Mobile custom PC page breakpoints */
    .pc-spec-img{
      width: 190px;
    }
    .pc-part{
      padding: 100px;
      padding-top: 25px;
      padding-bottom: 25px;
    }
    h3{
      font-size: 1.5em;
    }
    .build-pc{
      width: 60%;
    }
    .custom-sidebar{
      width: 40%;
    }
  /* Mobile custom PC page breakpoints  END */

}

@media screen and (min-width: 767px){
  .nav-mobile{
    display: none;
  }
  .footer-mobile{
    display: none;
  }
  .top-pcs-mobile{
    display: none;
  }
  .pc-card-mobile{
    display: none;
  }
  .checkout-form-mobile{
    display: none;
  }
  .checkout-product-mobile{
    display: none;
  }
  .contact-box-mobile{
    display: none;
  }
  .contact-form-mobile{
    display: none;
  }
  .footer-col-mobile{
    display: none;
  }
  .build-mobile{
    display:none;
  }


}


/* Medium devices (tablet)     END*/

/* Large devices (laptop) */

@media screen and (max-width: 1023px){
  .nav-laptop{
    display: none;
  }
  .pc-card-laptop{
    display: none;
  }
  /* Tablet custom PC page breakpoints */
    .pc-spec-img{
      width: 190px;
    }
    .pc-part{
      padding: 100px;
      padding-top: 25px;
      padding-bottom: 25px;
    }
    h3{
      font-size: 1.5em;
    }
    .build-pc{
      width: 65%;
    }
    .custom-sidebar{
      width: 35%;
    }
/* Tablet custom PC page breakpoints  END */
}
@media screen and (min-width: 1023px){
  .nav-tablet{
    display: none;
  }
  .pc-card-tablet{
    display: none;
  }
}


/* Large devices (laptop)     END*/

/* Extra large devices (desktop) */

@media screen and (max-width: 1439px){
  .nav-desktop{
    display: none;
  }
  .footer-desktop{
    display: none;
  }
  .top-pcs-desktop{
    display: none;
  }
  .pc-card-desktop{
    display: none;
  }
  .checkout-form-desktop{
    display:none;
  }
  .checkout-product-desktop{
    display:none;
  }
  .contact-box-desktop{
    display: none;
  }
  .footer-col-desktop{
    display: none;
  }


}

@media screen and (min-width: 1439px){
  .nav-laptop{
    display: none;
  }
  .footer-tablet{
    display: none;
  }
  .top-pcs-tablet{
    display: none;
  }
  .pc-card-laptop{
    display: none;
  }
  .checkout-form-tablet{
    display:none;
  }
  .checkout-product-tablet{
    display:none;
  }
  .contact-box-tablet{
    display: none;
  }
  .footer-col-tablet{
    display: none;
  }


}

/* Extra large devices (desktop)    END*/

/* Breakpoints       END */
