@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;400;700&family=Orbitron:wght@400;700&display=swap');
/* Genral */

h1 {
  font-family: "Orbitron", sans-serif;
  font-weight: 400;
  color: #275DAD;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
}

nav {
  background-color: #E6E6E6;
}

footer {
  background-color: lightgrey;
  height: 200px;
}

/* Genral     END*/

/* Genral nav bar */

#nav-title{
  margin: 5px;
  margin-top: 24px;
  font-size: 3.5em;
}

.container-fluid{
  padding: 0px;
}

.nav-row{
  flex-direction: column;
  align-items: stretch;
}

.nav-bar{
  height: 125px;
}

.logo{
  width: 120px;
  border-radius: 50%;
}

.nav-link{
  background-color: red;
  width: 125px;
  height: 50px;
  padding: 10px;
  margin: 5px;
  margin-top: 35px;
  border: solid 1px black;
  align-content: center;
}

/* Genral nav bar      END*/

/* Tablet nav bar */

#nav-title-tablet{
  margin: 5px;
  margin-top: 20px;
  font-size: 2em;
}

#nav-signup-tablet{
  margin-top: 28px;
}

.logo-tablet{
  width: 80px;
  border-radius: 50%;
}

.nav-link-tablet{
  background-color: red;
  width: 40px;
  height: 50px;
  padding: 10px;
  margin: 3px;
  border: solid 1px black;
  align-content: center;
  font-size: 0.75em;
}

.nav-item-tablet{
  margin-top: 28px;
}

.nav-bar-tablet{
  height: 90px;
}

/* Tablet nav bar     END */

/* Mobile nav bar */

#nav-center-mobile{
  justify-content: space-evenly;
}

.nav-border-mobile{
  height: 50px;
  background-color: lightblue;
  margin-bottom: 10px;
}

.logo-mobile{
  width: 60px;
  border-radius: 50%;
}

.nav-link-mobile{
  background-color: red;
  width: 40px;
  height: 50px;
  padding: 8px;
  margin: 2.5px;
  border: solid 1px black;
  font-size: 0.7em;
}

.nav-item-mobile{
  margin-top: 15px;
}

/* Mobile nav bar     END */

/* Small mobile nav bar  */

#nav-center-s-mobile{
  justify-content: space-evenly;
}

.nav-link-s-mobile{
  background-color: red;
  width: 40px;
  height: 50px;
  padding: 8px;
  margin: 2.5px;
  border: solid 1px black;
  font-size: 0.45em;
}

/* Small mobile nav bar     END */

/* Pc recomadations */

.top-pc{
  margin: 10px;

}

.pc-card{
  background-color: #E6E6E6;
  border: solid 3px black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
  margin: 5px;

}

.top-pcs{
  height: 400px;
  border: solid 1px black;
  background-color: grey;
}

/* Pc recomadations      END*/

/* Social media */

.social-media{
  background-color: grey;
  color: red;
  border: solid 1px black;
  padding: 10px;
}

.social-icon{
  background-color: grey;
  color: red;
  font-size: 2.5em;
}

/* Social media     END */

/* Find your PC collapseable questionaire  */

.btn-collapse{
  border: solid 1px black;
  padding: 5px;
  background-color: #20FC8F;

}

.question{
  border: solid 1px black;
  padding: 10px;
  height: 250px;
  display: flex;
  justify-content: flex-start;
  margin: 10px;
  background-color: white;
}

.card-body{
  background-color: #275DAD;
}

/* Add some other pc cards class for other pages */

/* Find your PC collapseable questionaire    END */

/* Pre built PC's */

.pre-built{
  background-color: black;
}

.pre-pc-img{
  height: 400px;
  width: 400px;
}


/* Pre built PC's    END */

/* Build PC tracker */

#case-card{
  position: relative;
}

.custom-sidebar{
  height: 100%;
  width: 20%;
  position: fixed;
  top: -20;
  left: 0;
  padding-top: 40px;
  padding: 5px;
  background: #E6E6E6;
  border: solid 3px black;
}

.spec-tracker{
  border: solid 1px black;
  background-color: grey;
  height: 500px;
  width: 300px;
  padding: 5px;
  font-size: 12px;
}

.price-tracker{
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  width: 300px;
  border: solid 1px black;
  background-color: grey;
}

.btn-tracker{
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
}

/* Build PC tracker    END */

/* PC part picker  */

.build-pc{
  width: 80%;
  margin-right: 0px;
}

.spec-list{

}

.pc-part{
  background-color: grey;
  border: black 1px solid;
  margin: 10px;
  padding: 5px;
  width: 350px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.pc-spec-img{
  width: 300px;
  height: 300px;

}
/* PC part picker    END */

/* Contact Us  */

.contact-box{
  border: solid 1px black;
}

/* Contact Us    END */

/* Create account */

.account-form{
  background-color: lightgrey;
  border: solid 1px black;
  height: 800px;
  width: 1000px;
  padding: 250px;
}

.account{

}

/* Create account    END */

/* Checkout */

/* Checkout   END */

/* Desktop footer */

.footer-col{
  margin-top: 30px;
}

.footer-icon{
  width: 75px;
  font-size: 2.5em;
}

/* Desktop footer       END */

/* Tablet footer */

.footer-icon-tablet{
  padding: 10px;
  font-size: 2em;
}


/* Tablet footer      END */

/* Mobile footer */

.footer-icon-mobile{
  padding: 5px;
  font-size: 1.5em;
}


/* Mobile footer    END */

/* Breakpoints */

/* Extra small devices*/

/* @media screen and (max-width: 319px){}
@media screen and (min-width: 319px){} */

/* Extra small devices    END*/

/* Small devices (mobile) */

@media screen and (max-width: 424px){
  .nav-mobile{
    display: none;
  }
}
@media screen and (min-width: 424px){
  .nav-s-moblile{
    display: none;
  }
}

/* Small devices (mobile)     END*/

/* Medium devices (tablet) */

@media screen and (max-width: 767px){
  .nav-tablet{
    display: none;
  }
  .footer-tablet{
    display: none;
  }

}
@media screen and (min-width: 767px){
  .nav-mobile{
    display: none;
  }
  .footer-mobile{
    display: none;
  }
}


/* Medium devices (tablet)     END*/

/* Large devices (laptop) */

@media screen and (max-width: 1023px){

}
@media screen and (min-width: 1023px){

}

/* Large devices (laptop)     END*/

/* Extra large devices (desktop) */

@media screen and (max-width: 1439px){
  .nav-desktop{
    display: none;
  }
  .footer-desktop{
    display: none;
  }
}
@media screen and (min-width: 1439px){
  .nav-tablet{
    display: none;
  }
  .footer-tablet{
    display: none;
  }
}

/* Extra large devices (desktop)    END*/

/* Breakpoints       END */
